<app-header></app-header>
<app-navbar></app-navbar>
<section class="banner">
  <img src="./assets/img/portada.jpg" alt="" class="banner__img">
  <div class="banner__content"><img src="./assets/img/dark-isotipo.png" alt=""></div>
</section>

<main class="main">
  <section class="group group--color">
    <div class="container">
      <h2 class="main__title">Bienvenidos Usuario</h2>
      <p class="main__txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, libero.
        Perferendis, quisquam dolore minus quasi voluptatum cupiditate repudiandae molestias suscipit.
        Repellendus ipsam consequatur, praesentium tenetur amet perspiciatis voluptas ad soluta.</p>
    </div>
  </section>

  <section class=" group main__about__description">
    <div class="container container--flex">
      <div class="column column--50">
        <img src="./assets/img/expertos.jpg" alt="">
      </div>
      <div class="column column--50">
        <h3 class="column__title">Expertos</h3>
        <p class="column__txt">Alquiler de Maquinaria Pesada <br>
          Transporte de Agregados <br>
          Venta de Áridos <br>
          Servicios de Ingeniería Civil.</p>
        <a href="#" routerLink="/contacto" class="btn btn--contact">Contáctenos</a>
      </div>
    </div>
  </section>

  <section class="group today-special">
    <h2 class="group__title">Servicios</h2>
    <div class="container container--flex">
      <div class="column column--50-25">
        <img src="./assets/img/retroexcavadora.JPG" alt="" class="today-special__img">
        <div class="today-special__title">Retroexcavadora</div>
        <div class="today-special__price">150 $us.</div>
      </div>
      <div class="column column--50-25">
        <img src="./assets/img/volqueta.jpg" alt="" class="today-special__img">
        <div class="today-special__title">Volqueta 14 m3 2</div>
        <div class="today-special__price">200 $us.</div>
      </div>
      <div class="column column--50-25">
        <img src="./assets/img/ingenieria.jpg" alt="" class="today-special__img">
        <div class="today-special__title">Ingeniería</div>
        <div class="today-special__price">230 $us.</div>
      </div>
      <div class="column column--50-25">
        <img src="./assets/img/obras.jpg" alt="" class="today-special__img">
        <div class="today-special__title">Obras y Servicios</div>
        <div class="today-special__price">300 $us.</div>
      </div>
    </div>
  </section>
</main>
