<footer class="main-footer">
  <div class="container container--flex">
    <div class="column column--33">
      <h2 class="column__title">¿Por qué visitarnos?</h2>
      <p class="column__txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam ex quia ipsa
        possimus repudiandae, ea minima adipisci provident laudantium dicta.</p>
    </div>
    <div class="column column--33">
      <h2 class="column__title">Contáctanos</h2>
      <p class="column__txt">Barrio 24 de Sept. C/J - Santa Cruz, Bolivia</p>
      <p class="column__txt">Teléfono : 770 816 84</p>
      <p class="column__txt">arana.serviciosintegrales@gmail.com</p>
    </div>
    <div class="column column--33">
      <h2 class="column__title">Síguenos en nuestras redes</h2>
      <p class="column__txt"><a href="https://www.facebook.com/aranaASII" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></p>
      <p class="column__txt"><a href="https://api.whatsapp.com/send?phone=+59177081684" target="_blank"><i class="fab fa-whatsapp"></i> Whatsapp</a></p>
      <p class="column__txt"><a href="mailto: arana.serviciosintegrales@gmail.com"><i class="fas fa-envelope"></i> E-mail</a></p>
    </div>
    <p class="copy">&copy; 2018 Arana Servicios Integrales de Ingeniería | Todos los derechos reservador</p>
    <p class="copy  design">Design by: <a href="https://luisalberto.ml" target="_blank">&lt; &#47; LUIS &gt;</a> </p>
  </div>
</footer>
